* {
	margin: 0;
	padding: 0;

	font-family: Arial;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
	.header {
		flex-direction: column !important;
	}

	.title {
		align-self: center;
	}

	.menu {
		flex-direction: column !important;
	}
}

body {
	height: 100vh;
	width: 100vw;
}

.container {
	display: flex;
	flex-direction: column;

	height: 100%;
}

.header {
	display: flex;
}

.title {
	display: flex;
	flex-direction: row;

	align-items: center;
	align-self: left;

	max-height: 50px;
}

.menu {
	display: flex;
	flex-grow: 1;
	flex-direction: row;

	justify-content: right;
}

.menu-dropdown {
	display: inline-block;
	position: relative;
}

.menu-dropdown-options {
	display: none;
	position: absolute;
	overflow: auto;
	width: 100%;
}

.menu-dropdown:hover .menu-dropdown-options {
	display: block;
}

.menu-item {
	display: flex;
	align-items: center;

	height: 100%;

	padding-left: 20px;
	padding-right: 20px;

	background-color: white;
	color:black;

	transition: background-color 0.25s;
}
.menu-item.dropdown {
	border: 1px solid #e7e7e7;
	padding: 5px;
}
.menu-item:hover {
	background-color: #e7e7e7;
	cursor: pointer;
}
.menu-item.active {
	background-color: dodgerblue;
	color: white;
}
.menu-item.active:hover {
	background-color: rgb(91, 173, 255);
	color: white;
}

.content {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	flex-grow: 1;

	background-image: url("../images/bg.png");
	background-color: #f6f6f6;

	border: 1px solid #e7e7e7;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;

	padding: 20px;
}
.content-item {
	grid-column: 1 / 2;
	padding: 10px;
	background-color: white;

	border: 1px solid #e7e7e7;
}
.content-cats {
	grid-column: 2 / 4;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.content-cats img {
	max-height: 200px;
	max-width: 200px;
}

.nice-button {
	background-color: dodgerblue;
	color: white;

	border: 0px;
	border-radius: 3px;
	padding: 5px;

	transition: background-color 0.25s;
}
.nice-button:hover {
	background-color: rgb(91, 173, 255);
}
.nice-button:active {
	background-color: dodgerblue;
}

.footer {
	border: 1px solid #e7e7e7;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;

	padding: 5px;

	text-align: center;
}

